@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #171717;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: url('./fonts/sf/SF-Pro-Display-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

    